body {
  background-color: white;
  color: black;
}

.toggle-unknown {
  color: rgba(0, 0, 0, 0.3);
}

.toggle-off {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: line-through black 1px;
}

.footer,
.footer a {
  color: rgba(0, 0, 0, 0.3);
}
